.chat-main
  .chat-main__group-info
    .chat-main__group-info__group-name
      group-name
      .chat-main__group-info__member
        member
    .chat-main__group-info__edit
      edit
  .chat-main__message-list
    .chat-main__message-lists
      .chat-main__message-list__name
        message-list
        .chat-main__message-list__name__time
          time
      .chat-main__message-list__message
        message
  .chat-main__message-form  
    .chat-main__message-form__box
      %input{placeholder: "message", class: "chat-main__message-form__box__message", type: "text"}
      .chat-main__message-form__box__image
        %label.chat-main__message-form__box__image
          = icon('fa', 'image')
          %input{type: "file" , class: "chat-main__message-form__box__image__label"}
    
    .chat-main__message-form__send
      send
