:root{
  --w-color: white;
}

.chat-side{
  width: 300px;
  color: var(--w-color);
  float: left;
  box-sizing: border-box;

  &__user-name{
    height: 100px;
    display: flex;
    background-color: #253141;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: bolder;
    align-items: center;
    
    &__box{
      height: 20px;
      width: 100%;
      background-color: #333333;
      font-weight: bold;
      justify-content: space-between;
      display: flex;

      &__name{
      }
      &__top-items{
        
        display: flex;
        justify-content: flex-end;
        height: 20px;
        width: 60px;
        color: var(--w-color);
        text-decoration: none;
        
        &__new-group{
          margin-right: 5px;
        }
        &__menu{
        }
      }
    }
  
  }
  &__group{
    height: calc(100vh - 100px);
    background-color:#2f3e51;
    padding: 0px 20px;
    overflow: scroll;
    &__name{
      width: 100%;
      color: var(--w-color);
      margin-top: 40px;
      font-size: 15px;
    }
    &__message{
      width:100%;
      color: var(--w-color);
      margin-top: 5px;
      font-size: 11px;

    }
  }
  
}